@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login/Index");
    return;
}

@model IEnumerable<EmployeeManagementPortal_v0._8.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashIndex</title>
    <style>
        /* .table
        {
            top : 20%;
            left : 30%;
            position : absolute;
        }

        tr{
            padding : 2%;
        }
        td {
            padding: 2%;
        }*/

    </style>


</head>
<body style="width:95%;">

    <div style="float:right;">

        <table>
            <tr>
                <td>Username : @Session["UserName"].ToString()</td>
                <td rowspan="3"> <img src="~/Images/@Session["Image"]" width="60px" height="70px" /></td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Change Password", "ChangePassword")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Logout", "Logout", "Login")
                </td>
            </tr>
        </table>
        <span>



            <br />

            <br />
            <br />

        </span>
    </div>
    <div>
        <span>
            @if (Session["Role"].ToString() == "Admin")
            {
                @Html.ActionLink("Create New User", "Create")
            }
            <br />
            @Html.ActionLink("Edit My Profile", "Edit",  new { id = Convert.ToInt32(Session["UserId"]) })
        </span>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div>
        <table class="table" width="50%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                @if (Session["Role"].ToString() == "Admin")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th align="center">Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    @if (Session["Role"].ToString() == "Admin")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @if (Session["Role"].ToString() == "Admin")
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        }
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
